
@font-face {
    font-family: 'pt_serif';
    src: url('./fonts/ptserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: Roboto
}

body {
	margin: 0;
}

.wrapper {
	margin: auto;
	width: 80%;
}

.logo, .menu {
	display: inline-block;
	
}
.header {
	display: flex;
	justify-content: space-between;
}
.logo {
	padding: 40px 0;
	font-family: pt_serif, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
}
	
}
.menu {
	display: flex;
	align-items: center;
}
.menu__item {
	padding: 0 13px;
}
.menu__item: last-child {
	padding-right: 0;



