
@font-face {
    font-family: 'PT+Serif';
    src: url('./fonts/pt_serif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PT+Serif';
    src: url('./fonts/pt_serif-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PT+Serif';
    src: url('./fonts/pt_serif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PT+Serif';
    src: url('./fonts/pt_serif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}